<main>
    <li class="d-flex flex-column">
        <div>
            <img style="width: 15rem;" src="{{thumbnail.[0]}}" alt="">
        </div>
        <div>
            <p>Title: {{title}}</p>
            <p>Description: {{description}}</p>
            <p>Price: ${{price}}</p>
            <p>Category: {{category}}</p>
            <p>status: {{status}}</p>
            <p>Stock: {{stock}}</p>
            <p>Code: {{code}}</p>
            <p>Id: {{_id}}</p>
        </div>
    </li>
    <form action="/api/carts/6486ae50710ab0ff4b45f54f/product/{{_id}}" method="POST">
        <button type="submit" class="btn btn-primary">agregar al carrito</button>
    </form>
</main>

<script src="/js/index.js"></script>