<link rel="stylesheet" href="/css/main.css">

<main id="main">
    <div id="container-cart-tab">
        <h1 id="h1-cart">Mi Carrito:</h1>
        <table id="table-cart">
            <thead id="table-head-cart">
                <tr id="tr-head-cart">
                    <th class="th-table-cart">Img</th>
                    <th class="th-table-cart">Title</th>
                    <th class="th-table-cart">Description</th>
                    <th class="th-table-cart">Price</th>
                    <th class="th-table-cart">Cantidad</th>
                </tr>
            </thead>

            <tbody id="table-body-cart">
                {{#each cart}}
                <tr class="tr-body-cart">
                    <td class="td-table-cart"><img class="img-td-table-cart" src="{{product.thumbnail.[0]}}"></td>
                    <td class="td-table-cart">{{product.title}}</td>
                    <td class="td-table-cart">{{product.description}}</td>
                    <td class="td-table-cart">${{product.price}}</td>
                    <td class="td-table-cart">{{this.quantity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div id="form-btn-submit">
            <button onclick="purchase('{{cartId}}')" id="btn-submit">Finalizar compra</button>
        </div>
        <div id="container-btn-delete">
            <button onclick="vaciarCarrito('{{cartId}}')" id="btn-delete">Vaciar carrito</button>
        </div>
    </div>
</main>

<script src="/js/Cart.js"></script>
