<link rel="stylesheet" href="/css/main.css">

<main id="main">
    <div id="container-cart-tab">
        <h1 id="h1-cart">Mi Carrito:</h1>
        <table id="table-cart">
            <thead id="table-head-cart">
                <tr id="tr-head-cart">
                    <th class="th-table-cart">Img</th>
                    <th class="th-table-cart">Title</th>
                    <th class="th-table-cart">Description</th>
                    <th class="th-table-cart">Price</th>
                    <th class="th-table-cart">Cantidad</th>
                </tr>
            </thead>

            <tbody id="table-body-cart">
                {{#each cart}}
                <tr class="tr-body-cart">
                    <td class="td-table-cart"><img id="img-td-table-cart" src="{{product.thumbnail.[0]}}"></td>
                    <td class="td-table-cart">{{product.title}}</td>
                    <td class="td-table-cart">{{product.description}}</td>
                    <td class="td-table-cart">${{product.price}}</td>
                    <td class="td-table-cart">{{this.quantity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <form id="form-btn-submit" action="/api/carts/{{cartId}}/purchase" method="POST">
            <button id="btn-submit" type="submit">Finalizar compra</button>
        </form>
        <form id="form-btn-delete">
            <button disabled="true" id="btn-delete" type="submit">Vaciar carrito</button>
        </form>
    </div>
</main>
