{{!-- <section>
    <main style="margin: 0 2rem 0 2rem;" class="w-60">
        <div class="d-flex justify-content-center row row-cols-1 row-cols-md-4 g-3">
            {{#each products.docs}}
                <div class="col">
                    <div class="card" style="height: 25rem;">
                        <img style="width: 10rem" src={{this.thumbnail.[0]}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> {{this.title}} </h5>
                            <p class="card-text"> ${{this.price}} </p>
                            <p class="card-text"> Stock: {{this.stock}} </p>
                            <p class="card-text"> ID: {{this._id}} </p>
                            <button onclick='deleteProduct("{{this._id}}")'>Eliminar</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </main> 
    <nav style="height: auto; padding: 1.5rem" class="w-100 bg-info mt-4">
        <ul class="pagination justify-content-center m-3">
            {{#if products.hasPrevPage}} <li class="page-item"> {{else}}<li class="page-item disabled">{{/if}}
            <a class="page-link" href={{products.prevLink}}>Prev</a>
            </li>

            <li class="page-item"><a class="page-link">{{ products.page }} de {{products.totalPages}} </a></li>

            {{#if products.hasNextPage}} <li class="page-item"> {{else}}<li class="page-item disabled">{{/if}}
            <a class="page-link" href={{products.nextLink}}>Next</a>
            </li>
        </ul>
    </nav>
</section> --}}

<main id="main">
    <section id="section-products">
        <div class="container-products-cards">
            {{#each products.docs}}
                <div class="div-card">
                    <div class="div-container-content-card">
                        <div class="div-img-card">
                            <img class="img-card" src={{this.thumbnail.[0]}}>
                        </div>
                        <div class="div-card-body">
                            <h5 class="card-title"> {{this.title}} </h5>
                            <p class="card-description"> {{this.description}} </p>
                            <p class="card-price"> ${{this.price}} </p>
                        </div>
                    </div>
                    <div class="div-btn-deleteProduct">
                        <button class="btn-deleteProduct" onclick='deleteProduct("{{this._id}}")'>Eliminar</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>

</main>

<footer id="footer">
    <ul class="pagination-nav">
        {{#if products.hasPrevPage}} 
            <li class="page-item"> {{else}} <li class="page-item disabled">
        {{/if}}
                <a class="page-link" href={{products.prevLink}}>⟪</a>
            </li>

        <li class="page-item">{{ products.page }} de {{products.totalPages}}</li>

        {{#if products.hasNextPage}}
            <li class="page-item"> {{else}}<li class="page-item disabled">
        {{/if}}
                <a class="page-link" href={{products.nextLink}}>⟫</a>
            </li>
    </ul>
</footer>

<script src="/js/deleteProduct.js"></script>