<link rel="stylesheet" href="/css/main.css">

<main id="main">
    <div id="container-product-detail">
        <div class="div-detail-img">
            <img class="img-detail" src={{product.thumbnail.[0]}}>
        </div>
        
        <div class="div-detail-body">
            <div class="div-detail">
                <h5 class="detail-title">{{product.title}}</h5>
                <p class="detail-text">{{product.description}}</p>
                <p class="detail-price">${{product.price}}</p>
                {{!-- <p class="detail-text">Category: {{product.category}}</p> --}}
                {{!-- <p class="detail-">Status: {{product.status}}</p> --}}
                <p class="detail-text">Stock: {{product.stock}}</p>
                <p class="detail-code">Code: {{product.code}}</p>
                <p class="detail-id">Id: {{product._id}}</p>
            </div>

            <form id="container-btn-addToCart" action="/api/carts/{{cartId}}/product/{{product._id}}" method="POST">
                <button id="btn-addToCart" type="submit">Agregar al carrito</button>
            </form>
        </div>
    </div>
</main>
