<section>
    <form action="/api/users/logout" method="post">
        <img style="width: 3rem;" src="{{user.img}}" alt="">
        <p>Hola, {{user.first_name}} {{user.last_name}}</p>
        <button type="submit">Cerrar session</button>
    </form>
</section>

<h1 class="h1-home">Lista de Productos:</h1>
<ul>
    {{#each products.docs}}
        <li>
            <p>Title: {{this.title}}</p>
            <p>Description: {{this.description}}</p>
            <p>Price: ${{this.price}}</p>
            <p>Category: {{this.category}}</p>
            <p>status: {{this.status}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Code: {{this.code}}</p>
            <p>Id: {{this._id}}</p>
        </li>
    {{/each}}
</ul>
<nav>
    <ul class="pagination">
        {{#if hasPrevPage}} <li class="page-item"> {{else}}<li class="page-item disabled">{{/if}}
        <a class="page-link" href={{prevLink}}>Prev</a>
        </li>
        <li class="page-num active" aria-current="page">{{ page }}</li>
        {{#if hasNextPage}} <li class="page-item"> {{else}}<li class="page-item disabled">{{/if}}
        <a class="page-link" href={{nextLink}}>Next</a>
        </li>
    </ul>
</nav>
