<main id="main">
    <section id="section-info-user">
        <div id="container-info-user">
            {{#if admin}}<h2 class="h2-role">Admin😎</h2>{{/if}}
            {{#if premium}}<h2 class="h2-role">👑Premium👑</h2>{{/if}}

            <img class="img-user" src="{{user.img}}">

            <h3 class="h3-say-hey">Hola, {{user.first_name}} {{user.last_name}}!</h3>
        </div>

        <div id="container-btn-actions">
            {{#if premium}} 
                <button class="btn-exclusive"><a class="a-exclusive" href="/addProduct">Crear un producto</a></button> 
                <button class="btn-exclusive"><a class="a-exclusive" href="/editProduct">Editar Productos</a></button> 
            {{/if}}


            {{#if admin}}
                <button class="btn-exclusive"><a class="a-exclusive" href="/addProduct">Crear un producto</a></button>
                <button class="btn-exclusive"><a class="a-exclusive" href="/editProduct">Editar Productos</a></button> 
                <button class="btn-exclusive"><a class="a-onlyAdmin" href="/users">Ver todos los usuarios</a></button>
            {{else}}
                <button class="btn"><a class="a-chat" href="/chat">Ir al chat</a></button>
            {{/if}}


            <button class="btn"><a class="a-goToCart" href="/carts/{{user.cartId._id}}">Ir al carrito</a></button>
            <button class="btn"><a class="a-goToCart" href="/uploadDocuments/{{user._id}}">Subir Documentos</a></button>

            <form class="container-btn-closeSession" action="/api/users/logout" method="post">
                <button class="btn-closeSession" type="submit">Cerrar sesión</button>
            </form>
        </div>

    </section>

    <section id="section-products">
        <div class="container-products-cards">
            {{#each products.docs}}
                <div class="div-card">
                    <div class="div-container-content-card">
                        <div class="div-img-card">
                            <img class="img-card" src={{this.thumbnail.[0]}}>
                        </div>
                        <div class="div-card-body">
                            <h5 class="card-title"> {{this.title}} </h5>
                            <p class="card-description"> {{this.description}} </p>
                            <p class="card-price"> ${{this.price}} </p>
                        </div>
                    </div>

                    <div class="div-btn-details-card">
                        {{#if this.stock}}
                        <button class="btn-details">
                            <a class="a-details" href='/details/{{this._id}}'> Ver Detalles </a>
                        </button>
                        {{else}}
                        <button disabled="true" class="btn-details-disabled">
                            <a class="a-details"> No Disponible </a>
                        </button>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </section>

</main>

<footer id="footer">
    <ul class="pagination-nav">
        {{#if products.hasPrevPage}} 
            <li class="page-item"> {{else}} <li class="page-item disabled">
        {{/if}}
                <a class="page-link" href={{products.prevLink}}>⟪</a>
            </li>

        <li class="page-item">{{ products.page }} de {{products.totalPages}}</li>

        {{#if products.hasNextPage}}
            <li class="page-item"> {{else}}<li class="page-item disabled">
        {{/if}}
                <a class="page-link" href={{products.nextLink}}>⟫</a>
            </li>
    </ul>
</footer>