<link rel="stylesheet" href="/css/main.css">

<main id="main">
    <section id="section-container-table-users">
        <h1 id="h1-users">Lista de usuarios:</h1>
        <table id="table-users">
            <thead id="table-head-user">
                <tr id="tr-head-users">
                    <th class="th-table-users">Full Name</th>
                    <th class="th-table-users">Role</th>
                    <th class="th-table-users">Last Connection</th>
                    <th class="th-table-users">Email</th>
                    <th class="th-table-users">Id</th>
                    <th class="th-table-users">Image</th>
                    <th class="th-table-users">Options</th>
                </tr>
            </thead>

            <tbody id="table-body-user">
            {{#each users}}
                <tr class="tr-body-users">
                    <td class="td-body-users-small">{{this.first_name}} {{this.last_name}}</td>
                    <td class="td-body-users">{{this.role}}</td>
                    <td class="td-body-users-small">{{this.last_connection}}</td>
                    <td class="td-body-users">{{this.email}}</td>
                    <td class="td-body-users">{{this._id}}</td>
                    <td class="td-body-users"><img class="img-profile-table-user" src="{{this.img}}" alt=""></td>
                    <td class="td-body-users-options">
                        <button class="btn-delete-user-table" onclick='deleteUser("{{this._id}}", "{{this.cartId}}")'>Eliminar Usuario</button>
                        <button class="btn-premium-user-table" onclick='changeRole("{{this._id}}")'>Cambiar rol</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <button id="btn-remove-inactive-users" onclick="removeInactiveUsers()">Eliminar usuarios inactivos</button>
    </section>
</main>

<script src="/js/User.js"></script>